@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@400;700&display=swap");
:root {
  --blue: #007bff;
  --indigo: #5800e8;
  --purple: #8661BC;
  --pink: #e83e8c;
  --red: #e81500;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #00ba94;
  --cyan: #00cfd5;
  --white: #fff;
  --gray: #686e73;
  --gray-dark: #323940;
  --primary-color: #884592;
  --secondary: #00C9A6;
  --highlight-color: #C51162;
  --success: #2DDE98;
  --info: #C51162;
  --warning: #FFCC5B;
  --danger: #e81500;
  --light: #eff1f3;
  --dark: #1f272d;
  --black: #000;
  --white: #fff;
  --red: #e81500;
  --orange: #FFA05E;
  --dark_orange: #FF6C5F;
  --yellow: #FFCC5B;
  --indigo: #5800e8;
  --purple: #8661BC;
  --red_violet: #C51162;
  --light_pink: #E65682;
  --pink: #FF4F81;
  --light_purple: #884592;
  --teal: #00ba94;
  --cyan: #00cfd5;
  --light_green: #2DDE98;
  --green: #00C9A6;
  --azure: #00AEFF;
  --blue: #3369E7;
  --light_blue: #1CC7D0;
  --dark_blue: #003666;
  --green_blue: #008DA2;
  --dark_green: #4D8076;
  --orange-soft: #f2e1d5;
  --dark_orange-soft: #f2d6d5;
  --yellow-soft: #f2ead5;
  --indigo-soft: #d1c1f1;
  --purple-soft: #dad4e8;
  --red_violet-soft: #e7c4d6;
  --light_pink-soft: #edd2dc;
  --pink-soft: #f2d1dc;
  --light_purple-soft: #dacfe0;
  --teal-soft: #bfe6e0;
  --cyan-soft: #bfeaed;
  --light_green-soft: #c8ede1;
  --green-soft: #bfe9e4;
  --azure-soft: #bfe4f5;
  --blue-soft: #c9d6f1;
  --light_blue-soft: #c5e9ec;
  --dark_blue-soft: #bfccd7;
  --green_blue-soft: #bfdde3;
  --dark_green-soft: #cfdada;
  --primary-soft: #dacfe0;
  --secondary-soft: #bfe9e4;
  --success-soft: #c8ede1;
  --info-soft: #e7c4d6;
  --warning-soft: #f2ead5;
  --danger-soft: #eec5c2;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "OpenSans", "Montserrat", Roboto, "Poppins", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "OpenSans", "Montserrat", Roboto, "Poppins", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.primary {
  color: var(--primary-color);
}




/*++++++++++++++++++++++++ */



.form-control:focus {
  color: #686e73;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.0625rem var(--primary-color);
}





/*+++++++++++++++++++++  floating label ++++++++++++++++++++++*/

.floatingLabelInput {
  
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 2rem;
}

.floatingLabelInput label {
    position: absolute;
    top: -1.4rem;
    left: 1rem;
    font-size: 1rem;
    color: blue;
    transition: all 0.2s linear;
    opacity: 0;
  }

  .floatingLabelInput label.on {
      opacity: 1;
      color: #474747;
    }
  

  .floatingLabelInput input {
    font-size: 1rem;
  }
/*++++++++++++++++++++++++ */

  input.errorInput {
  border-color: var(--danger);
  box-shadow: 0 0 0 0.0625rem var(--danger);
  }


  .floatingLabelInput label.errorInput {
  opacity: 1;
  color: var(--danger);
  font-size: 0.8rem;
  }



/*++++++++++++++++++++++++ */

.icon-button {
  border-radius: 2rem;
  border-color: var(--highlight-color);
  border: solid;
  margin: 0 auto;
  background-color: transparent;
}

.icon-button,
.icon-button:active,
.icon-button:focus {
  outline: none;
  color: var(--highlight-color);
}

.icon-button:hover {
  background-color: var(--highlight-color);
  color: white;
  border-color: var(--highlight-color);
}

/*++++++++++++++++++++++++ */




.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.5rem;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}


.btn-block {
  display: block;
  width: 100%;
}


.btn-primary-color {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary-color:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary-color:focus, .btn-primary-color.focus {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}
.btn-primary-color.disabled, .btn-primary-color:disabled {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary-color:not(:disabled):not(.disabled):active, .btn-primary-color:not(:disabled):not(.disabled).active, .show > .btn-primary-color.dropdown-toggle {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary-color:not(:disabled):not(.disabled):active:focus, .btn-primary-color:not(:disabled):not(.disabled).active:focus, .show > .btn-primary-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}






/*++++++++++++++++++++++++ */

#topbar {
	min-height: 150px;
	max-height: 150px;
	width: 100vw;
	transition: all 0.3s;
}

#topbar.active {
	margin-top: -150px;
}

@media (max-width: 768px) {
  
  /*#topbar {
		margin-left: -150px;
	}
	#topbar.active {
		margin-left: 0;
	}*/
}


/********************     DatePicker       ****************************/

.rainbow-m-horizontal_xx-large {
  margin-right: 3rem;
  margin-left: 3rem;
}
.rainbow-p-horizontal_xx-large {
  padding-right: 3rem;
  padding-left: 3rem;
}
.rainbow-p-vertical_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}



#input-4:focus,
#modal-content-10  {
  color: #686e73;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.0625rem var(--primary-color);
}

#modal-content-10 h1,
#modal-content-10 .sc-eqIVtm::after {
  color: var(--primary-color);
}

#modal-content-10 table button {
  color: black;
}

#modal-content-10 table button:active {
  background-color: var(--primary-color);
  color: var(--primary-color);
}

#modal-content-10 button:focus {
  outline: none;
  border-color: var(--primary-color);
}

#select-14 {
  color: #686e73;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.0625rem var(--primary-color);
}

#modal-content-10 button:hover {
  border-color: var(--primary-color);
}

.ejgmDM button,
.ejgmDM button:hover  {
  color: var(--primary-color);
}


.ejgmDM button:focus,
.ejgmDM button.active {
  outline-color: var(--primary-color);
  color: var(--primary-color);
}



/********************     Spinner               ****************************/

.hJtphO > div:nth-child(1),
.hJtphO > div:nth-child(2),
.hJtphO > div:nth-child(3),
.hJtphO > div:nth-child(4),
.hJtphO > div:nth-child(5),
.hJtphO > div:nth-child(6),
.hJtphO > div:nth-child(7),
.hJtphO > div:nth-child(8)
 {
  color: var(--primary-color) !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.hJtphO {
  width: 4rem !important;
  height: 4rem !important;
}




/************************************************/

.toDo input[type="checkbox"] {
  margin-right: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.toDo input[type="checkbox"]:focus {
  outline: none;
}

.toDo input[type="checkbox"]:after {
 width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.7rem;
  border: 2px solid var(--highlight-color);
  background-color: transparent;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}

.toDo label {
  margin: 0;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  width: 350px;
  white-space: nowrap;
  vertical-align: middle;
}

.toDo label:hover {
  cursor: pointer;
}

.toDo label:focus {
  outline: none;
}

.toDo input[type="checkbox"]:checked::after {
  border-color: var(--highlight-color);
  color: var(--highlight-color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  display: block;
  content: "";
  margin-right: 11px;
  margin-left: 8px;
}

.toDo input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color: gray;
  text-decoration-color: var(--highlight-color);
}


/************************************************/
.accordion-faq {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 39, 45, 0.15);
  overflow: hidden;
}
.accordion-faq .card {
  box-shadow: none;
}
.accordion-faq .card .card-header {
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #e3e5e7;
}
.accordion-faq .accordion-faq-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.accordion-faq .accordion-faq-item .card-header {
  text-decoration: none;
}
.accordion-faq .accordion-faq-item .card-header .accordion-faq-item-heading {
  width: 100%;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #484d52;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.accordion-faq .accordion-faq-item .card-header .accordion-faq-item-heading .accordion-faq-item-heading-arrow {
  color: #c5c9cc;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.accordion-faq .accordion-faq-item .card-header.collapsed .accordion-faq-item-heading .accordion-faq-item-heading-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/********************************************************/

.dropdown-menu a:hover {
  background-color: var(--primary-soft) !important;
}

.dropdown-menu a:focus {
  background-color: var(--primary-soft) !important;
  color: black;
}

.dropdown-menu a:active {
  background-color: var(--primary-soft) !important;
}

.bg-primary-soft {
  background-color: var(--primary-soft) !important;
}









/******************   weather card    ********************************/

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.35rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}


.list-group-item:hover {
  background-color: var(--primary-soft);
}


/**************************************/

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}