/* adds responsiveness for different devices */

/* Bigger Laptop */
@media (max-width: 1800px) {
  .accordion {
    max-height: 75vh;
  }
}

/* Smaller Laptop */
@media (max-width: 1440px) {
}

/*iPad Landscape */
@media (max-width: 1024px) {
  .newToDo__container {
    flex-wrap: wrap;
  }
}

/* iPad */
@media (max-width: 800px) {
  #addToDo {
    width: 100vw;
    height: 100vh;
    transition: all 1s ease-out;
  }

  .newToDo__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .newToDo__container button {
    align-self: center;
  }

  .newToDo__container > *:nth-last-child(-n + 2) {
    margin-top: 3rem;
  }

  .accordion {
    max-height: 40vh;
  }
}

/* Bigger phone */
@media (max-width: 500px) {
  .dashboard {
    display: none;
  }

  .accordion {
    max-height: 50vh;
  }

  .dueDate {
    display: none;
  }

  .title {
    font-size: 1.5rem;
  }

  .newToDo__container > *,
  .ceGmGN {
    width: 100%;
    max-width: 100%;
  }

  .floatingLabelInput {
    display: inline-block;
    width: 100%;
    max-width: 100%;
  }
}

/* Smaller phone */
@media (min-width: 320px) and (max-width: 375px) {
}
